{% extends "base.html" %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>


    <h1>Admin Dashboard</h1>
    <ul>
        <li>Total Users: {{ total_users }}</li>
        <li>Total Books: {{ total_books }}</li>
        <li>Currently Borrowed Books: {{ borrowed_books }}</li>
        <li>Users Online (past 5 mins): {{ online_users }}</li>
    </ul>

    <a href="{{ url_for('add_book') }}">Add_book</a>
{% endblock %}
