{% extends "base.html" %}

{% block title %}Books{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <script src="https://cdn.tailwindcss.com"></script>


    <form action="{{ url_for('search') }}" method="GET">
        <input type="text" name="query" placeholder="Search by title or author..." required>
        <button type="submit">Search</button>
    </form>

    <h1>All Books</h1>
    <ul>
        {% for book in books %}
            <li><a href="{{ url_for('book_details', book_id=book.id) }}">{{ book.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
