<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Frequently Asked Questions</h1>

    <h3>Q: How do I register?</h3>
    <p>A: Just go to the login page and click “register”!</p>

    <h3>Q: Can I borrow multiple books?</h3>
    <p>A: Of course, as long as they’re available</p>

    <h3>Q: How do I return a book?</h3>
    <p>A: Go to your user page and click the “Return” button next to the book!</p>

    <h3>Q: Is there an admin?</h3>
    <p>A: Maaaaybe~ but shhh... they’re watching</p>
</body>
</html>